body{
    overflow-x: hidden;
}
.price-category button:hover{
    background-color: #000;
    color: #fff;
}
/* Style Notification Style  */
.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.notify-section{
    width: 32%;
    margin: 0 auto;
}
/* Media Query Style  */
@media (max-width: 1024px) {
    .promo-code{
        width: 100% !important;
    }
    .calculation-table{
        width: 100% !important;
    }
    .price-category button{
        margin-bottom: 10px !important;
        display: block;
        text-align: center;
    }
    .small-images img{
        width: 80px;
        height: 60px !important;
    }
    .notify-section{
        width: 100%;
    }
}